.detail-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-info {
  border-radius: 5px;
  margin-bottom: 20px;
}

.arrowBack {
  background-color: transparent;
  color: #ad0000;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.back-button-container {
  position: absolute;
  top: 25px; 
  left: 25px;
  z-index: 2; 
}
