.detail-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-info {
  border-radius: 5px;
  margin-bottom: 20px;
}

.arrowBack {
  background-color: transparent;
  color: #70a6ff;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.back-button-container {
  position: absolute;
  top: 25px; /* Adjust the top position as needed */
  left: 25px; /* Adjust the left position as needed */
  z-index: 2; /* Ensure it's above other elements */
}
