.footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
.footer h2 {
  font-weight: bold;
}

.footer-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-list li {
  margin-bottom: 15px;
  font-size: 18px;
}

.contact-list a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}
