.footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  margin-top: 5%;
}
.footer h2 {
  font-weight: bold;
}

.footer-content {
  width: 100%;
  max-width: 1400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-list li {
  margin-bottom: 15px;
  font-size: 18px;
}

.contact-list a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}
