* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  width: 100%;
  height: 829px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logo {
  width: 8%;
  position: absolute;
  top: 34px;
  left: 48px;
}
.header-info {
  width: 40%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 270px;
  left: 55%;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.header-title {
  width: 323px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 287px;
  left: 733px;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.profile-picture {
  width: 765px;
  height: 713px;
  /* background: url("../assets/v6_13.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 45px;
  overflow: hidden;
}

.contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
