body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 5px;
  height: 10px;
}

.contact-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.contact-button button {
  border-radius: 30px;
  background: #9b9b9b;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px 15px;
  font-weight: bold;
  font-size: medium;
}
