body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dd1717;
  border-radius: 5px;
  height: 10px;
}
