.cv {
  height: 50vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv h2 {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.language-item {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.progress-bar {
  border: 1px solid #f1f1f1;
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.progress {
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}
