
.slider-wrapper {
  display: grid;
  grid-auto-rows: 100vh; /* Set each row to take the full height of the viewport */
  grid-gap: 30px;
}

.portfolio-item {
  overflow: hidden;
  height: 100%; 
  width: 100%;
  margin-bottom: 30px; 
}

.portfolio-item.even .portfolio-item-content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.portfolio-item.odd .portfolio-item-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Text next to image for odd items */
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.portfolio-text {
  text-align: left;
}

.port-items {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.port-items h3,
.port-items p,
.port-items ul {
  margin-top: 10px;
}

.port-items ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.port-items li {
  margin-right: 10px;
}
