.slider-wrapper {
  display: grid;
  grid-auto-rows: 100vh;
  grid-gap: 30px;
}

.portfolio-item {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.portfolio-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio-item img {
  width: 70%;
  height: auto;
  border-radius: 30px;
  margin: 0 auto;
}

.portfolio-text {
  text-align: left;
  width: 70%;
}

.portfolio-item {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-item h3 {
  margin-top: 10px;
  text-align: center;
}

.port-items ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.port-items li {
  margin-right: 10px;
}

.portfolio-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  display: flex;
  align-items: center; 
}

.hover-info {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 70%;
  height: 100%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-wrapper:hover .hover-info {
  opacity: 1;
}

.portfolio-text {
  text-align: left;
  width: 70%;
}
